/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Project exclude paths
/storage/
/agenda_dede.zip
/agenda_dede_localhost-2021_10_24_15_58_13-dump.sql
/.phpstorm.meta.php
/_ide_helper.php
